<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org/">

<!-- Thymeleaf header -->
<head th:replace="fragments :: head"></head>

<body class="container">

<h1 th:text="${title}">Default Title</h1>

<!-- Thymeleaf navigation links -->
<nav th:replace="fragments :: navigation"></nav>

<!-- 1 line space between nav bar and body -->
<br />

<ul>

    <!-- loop jobClass -->
    <li th:each="jobClass : ${jobClasses}">

        <!-- hotlink jobClass and jobClassId displaying jobClass name -->
        <a th:href="'/job/jobClass?uid=' + ${jobClass.uid}" th:text="${jobClass.name}"></a>

    </li>

</ul>

<!-- hot link to jobClass/add displaying "Add Job Category" -->
<p>

    <a href="/jobClass/add">Add Job Category</a><!-- | -->
    <!-- TODO activate remove jobClass href when block created -->
    <!--<a href="/jobClass/remove">Remove Job Category</a>-->
</p>

</body>

</html>