<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org/">

<head th:replace="fragments :: head"></head>

<body class="container">

<h1 th:text="${title}">Default Title</h1>

<nav th:replace="fragments :: navigation"></nav>

<!-- TODO add notes -->
<!-- 1 line space bewteen nav bar and body -->
<br />

<p th:unless="${jobClasses} and ${jobClasses.size()}">No Categories Yet</p>

<table class="table">

    <tr>

        <th>Job Category</th>

    </tr>

    <tr th:each="jobClass : ${jobClasses}">

       <!-- <td th:text="${job.name}"></td>
        <td th:text="${job.description}"></td> -->
        <td th:text="${jobClass.name}"></td>

    </tr>

</table>

<p>

    <a href="/jobClass/add">Add Category</a><!-- |
    
    <a href="/jobClass/remove">Remove Category</a>
-->
</p>

</body>

</html>