<!DOCTYPE html>
<!-- TODO refactor remove form -->
<html lang="en" xmlns:th="http://www.thymeleaf.org/">

    <head th:replace="fragments :: head"></head>

    <body class="container">

        <h1 th:text="${title}">Default Title</h1>

        <nav th:replace="fragments :: navigation"></nav>

        <form method="post">

<!-- checkbox loop for jobClass removable -->
            <div th:each="jobClass : ${jobClasses}" class="checkbox">

<!-- checkbox to select jobClass via jobClassId to be removed -->
                <input type="checkbox" name="ids" th:value="${jobClass.uid}" th:id="${jobClass.uid}"/>
<!-- jobClass name and jobClassId in line with checkbox above -->
                <label th:for="${jobClass.uid}" th:text="${jobClass.name}"></label>

            </div>

<!-- 1 line space between body objects and remove button -->
            <br />

<!-- submit button -->
            <input type="submit" value="Remove Category" />

        </form>

    </body>

</html>