<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org/">

    <head>

        <style  type="text/css">
            body {
            background-image: url("https://thumbs.dreamstime.com/z/construction-vehicles-9703739.jpg");
            background-position: center center;
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: cover;
            background-color: #b2ebf2;
            }
        </style>

    </head>

<!-- TODO add notes -->
    <body class="container">

        <h1 th:text="${title}">Default Title</h1>

        <nav th:replace="fragments :: navigation"></nav>

        <form method="post" style="width:200px;" th:object="${loginForm}">

<!-- 1 line space between page title and Username input field box -->
            <br />

            <div class="form-group">

                <label th:for="username">Username</label>
                <input class="form-control" th:field="*{username}" />

                <div class="error" th:errors="*{username}"></div>

            </div>

<!-- 1 line space between username and password -->
            <br />

            <div class="form-group">

                <label th:for="password">Password</label>
                <input class="form-control" th:field="*{password}" type="password" />

                <div class="error" th:errors="*{password}"></div>

            </div>

<!-- 1 line space between password and login button -->
            <br />

            <input type="submit" value="Log In" />

        </form>

    </body>

</html>