<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org/">

    <head th:replace="fragments :: head"></head>

    <body class="container">

        <h1 th:text="${title}">Default Title</h1>

        <nav th:replace="fragments :: navigation"></nav>

<!-- TODO add notes -->
        <form method="post" style="max-width:200px;" th:object="${job}">

<!-- 1 line space between nav bar and body -->
            <br />

            <div class="form-group">

                <label th:for="name">Add Room / Area</label>
                <input class="form-control" th:field="*{name}" />
                <span th:errors="*{name}" class="error"></span>

            </div>

            <div class="form-group">

                <label th:for="description">Add Project Description</label>
                <input class="form-control" th:field="*{description}" />
                <span th:errors="*{description}" class="error"></span>

            </div>

            <div class="form-group">

                <label th:for="type">Select Project Category</label>

                <select name="jobClassId">

                    <option th:each="jobClass : ${jobClasses}"
                    th:text="${jobClass.name}"
                    th:value="${jobClass.uid}"></option>

                </select>

            </div>

            <input type="submit" value="Add Project" />

        </form>

    </body>

</html>