<!DOCTYPE html>

<!-- for adding job to individual contractor list -->
<html lang="en" xmlns:th="http://www.thymeleaf.org/">

    <head th:replace="fragments :: head"></head>

    <body class="container">

        <h1 th:text="${title}">Default Title</h1>

        <nav th:replace="fragments :: navigation"></nav>

<!-- ties to /contractor/add-item in ContractorController -->
        <form method="post" th:object="${form}" action="/contractor/add-item">

<!-- 1 line space from nav bar to body -->
            <br />

            <div class="form-group">

<!-- drop down box name for adding jobs to contractors -->
                <label th:for="jobId">Select Project</label>

                <select name="jobId">

<!-- select job.name or job.description or job.class (category) in th:text to display in drop down list -->
                    <option th:each="job : *{jobs}"
                            th:text="${job.description}"
                            th:value="${job.uid}"></option>

                </select>

                <span th:errors="*{jobId}"></span>

            </div>

            <input type="hidden" name="contractorId" th:value="*{contractor.uid}" />
            <input type="submit" value="Add Project" />

        </form>

    </body>

</html>