<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org/">

    <head th:replace="fragments :: head"></head>

    <body class="container">

        <h1 th:text="${title}">Default Title</h1>

        <nav th:replace="fragments :: navigation"></nav>

<!-- TODO add notes -->
        <form method="post" style="max-width:200px;" th:object="${contractor}">

<!-- 1 line space between nav bar links and input field name -->
            <br />

            <div class="form-group">

                <label th:for="name">Add Worker Name</label>
                <input class="form-control" th:field="*{name}" />
                <span th:errors="*{name}" class="error"></span>

            </div>

            <input type="submit" value="Add Worker" />

        </form>

    </body>

</html>