<!DOCTYPE html>
<!-- TODO refactor remove form -->
<html lang="en" xmlns:th="http://www.thymeleaf.org/">

    <head th:replace="fragments :: head"></head>

    <body class="container">

        <h1 th:text="${title}">Default Title</h1>

        <nav th:replace="fragments :: navigation"></nav>

        <form method="post">

<!-- checkbox loop for job removable -->
            <div th:each="job : ${jobs}" class="checkbox">

<!-- checkbox to select job via jobId to be removed -->
                <input type="checkbox" name="ids" th:value="${job.uid}" th:id="${job.uid}"/>
<!-- job name and jobId in line with checkbox above -->
                <label th:for="${job.uid}" th:text="${job.name}"></label>

                <br />

            </div>

            <input type="submit" value="Remove Project" />

        </form>

    </body>

</html>